@keyframes gradientAnimation {
  0% { background:rgb(255, 216, 126); }
  25% { background:rgb(117, 122, 255); }
  50% { background:rgb(255, 122, 124); }
  75% { background: #ffb347; }
  100% { background: #ff7eb3; }
}
.Stopwatch-box {
  width: 400px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: white;
  border: 2px solid black;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin:20px;
  /* gap:20px */
}
.Stopwatch {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  animation: gradientAnimation 5s infinite linear;
  
}

h1 {
  font-size: 2.5rem;
  color: black;
  margin-bottom: 20px;
}

.timer {
  font-size: 2rem;
  font-weight: bold;
  background: white;
  padding: 15px 25px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  margin-bottom:20px
}

.button {
  margin-top: 20px;
  display: flex;
  gap: 10px;
}

.button img {
  width: 50px;
  height: 50px;
  cursor: pointer;
  transition: transform 0.2s;
}

.button img:hover {
  transform: scale(1.1);
}
